.leaflet-popup-content-wrapper {
    background: #1d232a !important;
    color: #a6adbb !important;
    border-radius: 4 !important;
    border: 1px solid #1d232a !important;
    padding: 0 !important;
}

.leaflet-popup-content {
    margin: 0 !important;
}

.popup-sporty-wrapper {
    transform: skew(-12deg);
    padding: 12px 16px;
}

.popup-sporty-content {
    transform: skew(12deg);
}

.leaflet-popup-tip {
    background: #1d232a !important;
}

.leaflet-tooltip {
    background: #2a7eff !important;
    color: #ffffff !important;
    border: none !important;
    border-radius: 7px !important;
    padding: 0 !important;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2) !important;
}

.tooltip-content {
    padding: 4px 8px;
    font-weight: 900 !important;
    text-transform: uppercase !important;
    font-style: italic !important;
    transform: skew(-12deg);
    display: inline-block;
}
